<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-white" href="/"><img src="/img/elasticsearch.svg" alt="elasticsearch logo" width="50vw">&nbsp;&nbsp;WT2 - ElasticSearch</a>
  <ul class="navbar-nav mr-auto ">
    <li class="nav-item">
      <a class="nav-link text-muted" href="/">Home</a>
    </li>

  </ul>
</nav>