<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="jumbotron">
      <div class="text-center">
      <div id="flagContainer">
        <a href="/sweden"><img src="/img/se.png" srcset="/img/se.png" width="64" height="48" alt="Sweden"
            class="img-fluid"></a>
        <a href="/norway"><img src="/img/no.png" srcset="/img/no.png" width="64" height="48" alt="Norway"
            class="img-fluid"></a>
        <a href="/russia"><img src="/img/ru.png" srcset="/img/ru.png" width="64" height="48" alt="Russia"
            class="img-fluid"></a>
        <a href="/usa"><img src="/img/us.png" srcset="/img/us.png" width="64" height="48" alt="USA"
            class="img-fluid"></a>
        <a href="/israel"><img src="/img/il.png" srcset="/img/il.png" width="64" height="48" alt="Israel"
            class="img-fluid"></a>
        <a href="/ukraine"><img src="/img/ua.png" srcset="/img/ua.png" width="64" height="48" alt="Ukraine"
            class="img-fluid"></a>
        <a href="/big-spenders"><img src="/img/big_spender.png" srcset="/img/big_spender.png" width="64" height="48"
            alt="Big spenders" class="img-fluid"></a>
        <a href="/small-spenders"><img src="/img/small_spender.png" srcset="/img/small_spender.png" width="64" height="48"
            alt="Small spenders" class="img-fluid"></a>
      </div>
      <img src="" alt="">

      
        <h1>Welcome to Assignment Wt2 Big Data
        </h1>
      <p id="infoText">Choose a visualization of a countrys military expanditure in USD per year or visualize the big spenders/small spenders in the same diagram by clicking one of the icons above.</p>
      <img src="/img/peace.png" alt="Peace sign" class="img-fluid align-self-center" id="peace">
    </div>
    </div>
    
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>